.banner {
    background-color: #fff;
    background-image: url(../../assets/imgs/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 911px;
    margin-bottom: 44px;
}